<li>

<p><span class="label">Table #</span> {{this.id}}</p>

    {{#if reserved}}
    <p><span class="label">Customer Name: </span> {{this.customerName}}</p>
    <p><span class="label">Customer Email: </span> {{this.customerEmail}}</p>
    <p><span class="label">Customer Phone Number: </span> {{this.phoneNumber}}</p>
    <p><span class="label">Hookah Flavor: </span> {{this.flavor}}</p>
    {{!-- <p><span class="label">Reserved: </span> {{this.reserved}}</p> --}}
    <button class="clear-reservation" data-id="{{id}}" data-newreservation="{{reserve}}">Clear Table</button>
    {{else}}AVAILABLE
    <br>
    <button class="waitlist-reservation mt-2" data-id="{{id}}" data-newreservation="{{reserve}}">Reserve from Waitlist</button>
    
    {{/if}}


</li>