<div class="container">
  
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title">My Table</h5>
          <p>
            <strong>Table Number:</strong> {{reservations.id}}</p>

          <p>
            <strong>Customer Name:</strong> {{reservations.customerName}}</p>
          <p>
            <strong>Customer Email:</strong> {{reservations.customerEmail}}</p>


          <p><strong>Customer Phone Number:</strong> {{reservations.phoneNumber}}</p>


          <p>
            <strong>Number of People in Party:</strong> {{reservations.numberInParty}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>