<li>

<p><span class="label">Table #</span> {{this.id}}</p>

    
    <p><span class="label">Customer Name: </span> {{this.customerName}}</p>
    <p><span class="label">Customer Email: </span> {{this.customerEmail}}</p>
    <p><span class="label">Customer Phone Number: </span> {{this.phoneNumber}}</p>
    <p><span class="label">Hookah Flavor: </span> {{this.flavor}}</p>
    
    
</li>