<li>

<button data-id="{{this.id}}" class="update-flavor">Update This Flavor</button>

<p><span class="label">ID:</span> {{this.id}}</p>

<p><span class="label">Name:</span> {{this.name}}</p>

<p><span class="label">Category:</span> {{this.category}}</p>

<p><span class="label">Description:</span> {{this.description}}</p>

<p><span class="label">Quantity:</span> {{this.quantity}}</p>

<button data-id="{{this.id}}" class="del-flavor">Delete This Flavor</button>
    


</li>